<div class="row justify-content-center mt-5">
  <div class="col-sm-4 formDiv">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstname">First Name</label>
        <input
          id="firstname"
          type="text"
          class="form-control"
          formControlName="firstname"
        >
        <p class="alert alert-warning mt-1" *ngIf="!signUpForm.get('firstname').valid && signUpForm.get('firstname').touched">Please enter firstname!</p>
      </div>
      <div class="form-group">
        <label for="lastname">Last Name</label>
        <input id="lastname"
               type="text"
               class="form-control"
               formControlName="lastname"
        >
        <p class="alert alert-warning mt-1" *ngIf="!signUpForm.get('lastname').valid && signUpForm.get('lastname').touched">Please enter lastname!</p>
      </div>
      <div class="form-group">
        <label for="birthday">Birthday</label>
        <div class="input-group">
          <input class="form-control"
                 placeholder="yyyy-mm-dd"
                 name="dp"
                 [(ngModel)]="birthday"
                 ngbDatepicker #d="ngbDatepicker"
                 formControlName="birthday"
                 id="birthday"
                 #birth="ngbDatepicker"
                 [minDate]="mindate"
          >
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <i class="fa fa-1x fa-calendar"
                 ></i>
            </button>
          </div>
        </div>
        <p class="alert alert-warning mt-1" *ngIf="!signUpForm.get('birthday').valid && signUpForm.get('birthday').touched">Please select birthday!</p>
      </div>
      <div class="form-group">
        <label for="gender" class="gen">Gender</label>
        <div class="radio" *ngFor="let gender of genders">
          <label >
            <input type="radio"
                   id="gender"
                   [value]="gender"
                   formControlName="gender"
            >{{gender}}

          </label>

        </div>
      </div>
      <div class="form-group">
        <label for="cltvalue">Customer life time value</label>
        <input type="number"
               class="form-control"
               id="cltvalue"
               formControlName="cltvalue"
        >
        <p class="alert alert-warning mt-1" *ngIf="!signUpForm.get('cltvalue').valid && signUpForm.get('cltvalue').touched">Please enter value!</p>
      </div>
      <div class="form-group" style="text-align: center">
        <button class="btn btn-primary" type="submit" *ngIf="!editMode" [disabled]="!signUpForm.valid">Save</button>
        <button class="btn btn-primary" type="button" *ngIf="editMode" (click)="onUpdate()" [disabled]="!signUpForm.valid">Update</button>
      </div>
    </form>
  </div>
</div>
