<table class="table table-striped mt-3">
  <thead class="thead-dark">
  <tr>
    <th scope="col">Customer Id</th>
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Birthday</th>
    <th scope="col">Gender</th>
    <th scope="col">Value</th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let user of allUsers; let i = index">
    <td>{{i+1}}</td>
    <td>{{user.name.first}}</td>
    <td>{{user.name.last}}</td>
    <td>{{user.birthday}}</td>
    <td>{{user.gender}}</td>
    <td>{{user.customerLifetimeValue}}</td>
    <td><button class="btn btn-success" type="button" (click)="onEdit(user._id)">Edit</button></td>
    <td><button class="btn btn-danger" type="button" (click)="removeUser(user._id)">Delete</button></td>
  </tr>
  </tbody>
</table>
