<div class="row justify-content-center mt-5">
  <div class="col-sm-8">
    <div class="jumbotron text-center">
      <p>Restoke create unmissable performances in unusual settings.</p>
      <p>We co-create our performances to share the most important and engaging stories from our communities.</p>
      <p>Our process is driven by meaningful engagement and the integrity of our relationships with participants, partners, artists and audiences.
      </p>
      <p>Restoke firmly believes in the transformative power of sharing stories and performing together.  Our activities empower, engage and give voice to our city’s residents.</p>
      <p>Restoke is a Community Interest Company (CIC) and not-for-profit arts organisation based in Stoke-on-Trent.</p>
    </div>
  </div>
</div>
